	body {
	  margin: 0;
	  font-family: Times New Roman;
	}

	.g {
	  overflow: hidden;
	  background-color: black;
	}

	.g a {
	  float: left;
	  color: gray;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	  transition-duration: 1s;
	} 
	.g a:hover {
	  background-color: gray;
	  color: black;
	}

	.g-right {
	  float: right;
	}
	body {
	  background-image: url('p2.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
}
.logo{
	width: 60px;
	cursor: pointer;
	float: left;
}	
div.a {
  text-align: center;
  margin-right: 150px;
  margin-left: 110px;
}
div.b {
  text-align: center;
  margin-right: 150px;
  margin-left: 110px;
}
div.c {
  text-align: center;
  margin-right: 150px;
  margin-left: 110px;
}
